In [7]:
import pandas as pd
import numpy as np
d = pd.DataFrame(np.random.randint(0, 50, (10, 6)),
                index=list('ABCDEFGHIJ'),
                columns=list('abcdef'))

In [8]:
d

    a   b   c   d   e   f
A   4  36  46  41  27  42
B  40  27  32  33  17  15
C   3  35  27   2  37  26
D  30   6  44  43  29  22
E  18  26  35  18   8   2
F  22  39  27  26   1  33
G  41  41   3   4  14  17
H  32   1  37  36  44  46
I   9  19  45  37  47   6
J  21  36  24  34  32  49

In [22]:
bins = [0, 10, 20, 30, 40, 50]
cut1 = pd.cut(d['a'], bins)
s = cut1.value_counts(sort=False)
s

(0, 10]     3
(10, 20]    1
(20, 30]    3
(30, 40]    2
(40, 50]    1
Name: a, dtype: int64

In [19]:
s.values

array([3, 3, 2, 1, 1], dtype=int64)

array([[[0.41321233, 0.65467361, 0.26616971, ..., 0.18131917,
         0.34881964, 0.9810415 ],
        [0.78214162, 0.71837132, 0.87630002, ..., 0.86680761,
         0.09678409, 0.30608958],
        [0.75562783, 0.7474142 , 0.36645832, ..., 0.56272438,
         0.77998489, 0.85495227],
        ...,
        [0.58491746, 0.66874947, 0.08784191, ..., 0.48914777,
         0.77774101, 0.89145041],
        [0.7115849 , 0.35923388, 0.69685632, ..., 0.55577502,
         0.91189317, 0.38703519],
        [0.66162257, 0.53604373, 0.29911709, ..., 0.11820606,
         0.15403925, 0.65554296]]])

In [26]:
d

    a   b   c   d   e   f
A   4  36  46  41  27  42
B  40  27  32  33  17  15
C   3  35  27   2  37  26
D  30   6  44  43  29  22
E  18  26  35  18   8   2
F  22  39  27  26   1  33
G  41  41   3   4  14  17
H  32   1  37  36  44  46
I   9  19  45  37  47   6
J  21  36  24  34  32  49

In [30]:
cut2 = pd.qcut(d['a'], 4)
cut2.value_counts()

(31.5, 41.0]      3
(2.999, 11.25]    3
(21.5, 31.5]      2
(11.25, 21.5]     2
Name: a, dtype: int64

In [31]:
d.apply(lambda x : max(x)-min(x))

a    38
b    40
c    43
d    41
e    46
f    47
dtype: int64

In [48]:
f = d['f']
vp = f.max()-f.min()
bins = [f.min(), f.min()+vp*0.2, f.max()-vp*0.2, f.max()]
# cut2 = pd.qcut(f, bins)

In [49]:
bins

[2, 11.4, 39.6, 49]

In [55]:
type(f)

pandas.core.series.Series

In [68]:
pd.qcut(f, 3).value_counts()

(1.999, 17.0]    4
(33.0, 49.0]     3
(17.0, 33.0]     3
Name: f, dtype: int64