In [5]:
import pandas as pd
import numpy as np

In [6]:
pd

In [7]:
s1 = pd.Series(data={
    'name':'xiaobai',
    'age': 16
})
s1

name    xiaobai
age          16
dtype: object

In [10]:
df1 = pd.DataFrame(list('asdf'))
df1

   0
0  a
1  s
2  d
3  f

   0
0  a
1  s
2  d
3  f

In [42]:
arr = np.random.randint(0, 100, (4, 4))

In [43]:
arr

array([[58,  5, 93, 39],
       [21, 55, 28, 69],
       [54, 60, 89, 16],
       [62, 83, 79, 61]])

In [44]:
df2 = pd.DataFrame(arr, 
                   columns=list('asdf'))
df2

    a   s   d   f
0  58   5  93  39
1  21  55  28  69
2  54  60  89  16
3  62  83  79  61

In [45]:
dic = {
    'name':['xiaowang', 'xiaobai', '大白'],
    'age': [12, 14, 16],
    'genger': ['man', 'weman', 'man']
}
df = pd.DataFrame(dic)

In [46]:
df

       name  age genger
0  xiaowang   12    man
1   xiaobai   14  weman
2        大白   16    man

In [47]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [48]:
df.columns

Index(['name', 'age', 'genger'], dtype='object')

In [49]:
df.dtypes

name      object
age        int64
genger    object
dtype: object

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
name      3 non-null object
age       3 non-null int64
genger    3 non-null object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [52]:
df

       name  age genger
0  xiaowang   12    man
1   xiaobai   14  weman
2        大白   16    man

In [55]:
s = pd.Series(range(5), index=list('asdfg'))
s

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [57]:
# 按索引取单个数据
s['d']

2

In [63]:
s[0]

0

In [66]:
# 按索引切片,左闭右闭
s['a':'d']

a    0
s    1
d    2
dtype: int64

In [67]:
# 按下标切片，左闭右开
s[0:2]

a    0
s    1
dtype: int64

In [69]:
s[['a', 'd']]

a    0
d    2
dtype: int64

In [70]:
s[[0, 2]]

a    0
d    2
dtype: int64

In [71]:
s

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [72]:
s[s>1]

d    2
f    3
g    4
dtype: int64

In [75]:
s[(s>1)&(s<4)]

d    2
f    3
dtype: int64

In [76]:
s[s!=2]

a    0
s    1
f    3
g    4
dtype: int64

In [78]:
s[~(s==2)]

a    0
s    1
f    3
g    4
dtype: int64

In [80]:
s[(s<1)|(s>3)]

a    0
g    4
dtype: int64

In [83]:
s

a    0
s    1
d    2
f    3
g    4
dtype: int64

In [59]:
s2 = pd.Series(range(5), index=range(1, 6))
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [62]:
s2[1]

0